name: alziary site CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the site in the alziary/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/alziary -v ${{ github.workspace }}/_site:/srv/alziary/_site \
        alziary/builder:latest /bin/bash -c "chmod -R 777 /srv/alziary && alziary build --future"
